# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# onnx models
app/src/main/assets/*.onnx

# Configuration files
local.properties

# macOS specific files
.DS_Store
